.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
  }

.title {
    text-align: center;
    color: var(--gray);
    margin-bottom: 20px;
}

.saveButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.saveButton:hover {
    background-color: var(--blue-light);
}
  